{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    ["transform-builtin-extend", {
      "globals": [
        "WeakMap"
      ]
    }]
  ]
}
