{
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "destructuring": true,
      "defaultParams": true,
      "modules": true,
      "restParams": true,
      "spread": true
    }
  },
  "plugins": [
    "vue"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/base",
    "plugin:vue/recommended"
  ],
  "globals": {
    "exports": false,
    "module": false,
    "require": false,
    "chrome": false,
    "browser": false
  },
  "rules": {
    // Deactivate rule for build, test and all javascript files in the root directory
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["build/**/*.js", "test/**/*.spec.js", "./*.js"]}],
    "max-len": [2, 150, 2],
    "vue/no-v-html": 0
  }
}
