.v-application {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.display-4 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.display-3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.display-2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.display-1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.headline {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.subtitle-1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.subtitle-2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.body-1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.body-2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.caption {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
